# Node.js with React
# Build a Node.js project that uses React.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: ubuntu-latest

jobs:
- job: Build
  displayName: 'Build and Test'
  steps:
  - task: NodeTool@0
    inputs:
      versionSpec: '14.x'
    displayName: 'Install Node.js'

  - script: |
      npm install
      npm run build
    displayName: 'npm install and build'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact: drop'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'

# Deployment Job
- job: Deploy
  displayName: 'Deploy to Azure Storage'
  dependsOn: Build
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '3.x'
      installationPath: $(Agent.ToolsDirectory)/dotnet

  - script: |
      ls -R $(Build.ArtifactStagingDirectory)/drop
      echo "Source directory: $(Build.ArtifactStagingDirectory)/drop"
      az storage blob upload-batch --account-name yabasirastorageaccount --account-key $AZURE_STORAGE_KEY --destination '$web' --source '$(Build.ArtifactStagingDirectory)/drop'
    displayName: 'Upload files to Azure Storage'
    env:
      AZURE_STORAGE_ACCOUNT: yabasirastorageaccount
      AZURE_STORAGE_KEY: $(AzureStorageAccountKey)

  - task: AzureFileCopy@4
    displayName: 'Copy files to Azure Storage'
    inputs:
      SourcePath: '$(Build.ArtifactStagingDirectory)/drop'
      azureSubscription: 'My-Service-Connection'
      Destination: 'AzureBlob'
      storage: 'yabasirastorageaccount'
      containerName: '$web'
